<h2 style="color:red">
  List of courses !
</h2>
<button class="btn btn-danger">Save</button>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<div class="fa-4x">
  <span class="fa-layers fa-fw" style="background:MistyRose">
    <i class="fa fa-envelope"></i>
    <span class="fa-layers-counter" style="background:Tomato">1,419</span>
  </span>
</div>
<table>
  <tr>
    <td>ID</td>
    <td>Name


    </td>
    <td>Action</td>
    <td>Input</td>
    <td>Like</td>
  </tr>
  <tr *ngFor="let course of courses">
    <td>{{courses.indexOf(course)+1}}</td>
    <td>{{course }}</td>
    <td>
      <button class="btn btn-success" (click)="onSave()">Save</button>
    </td>

    <td>
      <input [(ngModel)]="email" uppercase (keyup.enter)="onInputKeyUp()" />{{email | uppercase}}</td>
<td><favorite [is-favorite]="false" (change)="onFavChanged()"></favorite></td>
  </tr>
</table>

