<h2 style="color:red">
  List of courses !
</h2>
<button class="btn btn-danger">Save</button>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<div class="fa-4x">
  <span class="fa-layers fa-fw" style="background:MistyRose">
    <i class="fa fa-envelope"></i>
    <span class="fa-layers-counter" style="background:Tomato">1,419</span>
  </span>
</div>
<div *ngIf="courses.length > 0 ; then coursesTemp else noCourses"></div>
<ng-template #coursesTemp>
  <table class="table table-striped">
    <tr class="thead-dark">
      <th scope="row">ID</th>
      <th>Name</th>
      <th>Action</th>
      <th>Input</th>
      <th>Like</th>
    </tr>

    <tr *ngFor="let course of courses;index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{course }}</td>
      <td>
        <button class="btn btn-success" (click)="onSave()">Save</button>
      </td>
      <td>
        <input [(ngModel)]="email" uppercase (keyup.enter)="onInputKeyUp()" />{{email | uppercase}}</td>
      <td>
        <favorite [is-favorite]="false" (change)="onFavChanged()"></favorite>
      </td>
    </tr>
  </table>
</ng-template>

<ng-template #noCourses>
  <Div class="card card-Header"> No Courses </Div>
</ng-template>